# Eclipse
.classpath
.settings
.metadata
.project

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target

#vscode
.vscode
.history/
*.code-workspace

# other
generated
.generated
/install.sh

.ci-friendly-pom.xml
